header {
	background: white;
}
.judul {
	color: #47525E;
  	font-family: Grand Hotel;
  	font-size: 60px;
  	font-weight: 400;
  	line-height: 78px;
  	text-align: left;
}
button{
	background-color: #FFFFFF;
	font-size: 15px;
}
.buttons {
	position: relative;
}
.bgfoto{
	background-image: url(https://marvel-live.freetls.fastly.net/canvas/2018/9/a59eead5131144c08b1dff174a8a98a2?quality=95&fake=.png);
	background-size: 100%;
	opacity: 0.91;
	width: 100%;
    height: auto;
}
.kolom2 {
	float: right;
    width: 50%;
    height: auto;
}
.teksparagraf{
	color: #000000;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  line-height: 33px;
  text-align: left;
}
.teksparagraf1{
	color: #000000;
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  line-height: 33px;
  text-align: left;
}
.teksjudul{
	color: #000000;
  	font-family: Berkshire Swash;
  	font-size: 35px;
  	font-weight: bold;
  	line-height: 45px;
  	text-align: left;
}
.background3{
	background-color: #d7e5e5;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}
.background4{
	background-image: url(https://image.ibb.co/fDLmBe/halaman4.png);
	background-repeat: no-repeat;
	width: 100%;
    height: auto;
	background-size: 100%;
}
.background5{
	background-image: url(https://image.ibb.co/cwov4z/halaman5.png);
	background-repeat: no-repeat;
	width: 1250px;
	height: 700px;
	background-size: 100%;
}
.posisifotoA{
	position: absolute;
	left: 18%;
}
.posisifotoB{
	position: absolute;
	left: 18%;
}
.posisifotoC{
	position: absolute;
	left: 18%;
}
.posisiteks4{
	position: absolute;
	top: 30%;
}
.kontak{
  color: #FFFFFF;
  font-family: Chewy;
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
  position: absolute;
  top: 61%;
  left: 17.2%;
}
.foto5A{
	position: absolute;
	top: 47%;
	left: 60.5%;
}
.foto5B{
	position: absolute;
	top: 47%;
	left: 71.5%;
}
.posisiTeks5A{
	position: absolute;
	top: 95.5%;
	left: 32%;
	color: #47525E;
  	font-family: Lato;
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 33px;
  	text-align: left;
}
.posisiTeks5B{
	position: absolute;
	top: 95.5%;
	left: 56.7%;
	color: #47525E;
  	font-family: Lato;
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 33px;
  	text-align: left;
}
.posisiTeks5C{
	position: absolute;
	top: 112.5%;
	left: 33.5%;
	color: #47525E;
  	font-family: Lato;
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 33px;
  	text-align: left;
}
.posisiTeks5D{
	position: absolute;
	top: 112.5%;
	left: 58.5%;
	color: #47525E;
  	font-family: Lato;
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 33px;
  	text-align: left;
}
.posisiTeks5E{
	position: absolute;
	top: 80%;
	left: 33.5%;
	color: #47525E;
  	font-family: Lato;
  	font-size: 35px;
  	font-weight: 400;
  	line-height: 45px;
  	text-align: center;
}
#teksnav{
	color: black;
}
.formsize{
	width: 100px;
	height: 100px;
}
.form-size{
	float: left;
    width: 50%;
    position: absolute;
    left: 25%;
}
.background6{
	background-image: url(https://wallpapertag.com/wallpaper/full/6/e/8/150761-beautiful-pastel-blue-background-2560x1440-for-iphone-7.jpg);
}
.responsive{
	width: 60%;
    height: auto;
}
.sizefoto{
	width: 100%;
	height: auto;
}
.formField{
	width: 10px;
}